import React from 'react'
import './App.scss'

export default function App() {
  return (
    <div className="app">
      <h1><APP_NAME></h1>
      <p>Welcome! Replace this placeholder UI.</p>
    </div>
  )
}
